# Python Basics

## Whitespace Is Important

In [18]:
listOfNumbers = [1, 2, 3, 4, 5, 6]

for number in listOfNumbers:
    print number,
    if (number % 2 == 0):
        print "is even"
    else:
        print "is odd"
        
print "All done."

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
All done.

## Importing Modules

In [19]:
import numpy as np

A = np.random.normal(25.0, 5.0, 10)
print A

[ 22.85500087  23.133941    29.5068571   36.85084894  22.59740799
  21.70227011  22.68801067  30.85180031  27.12230138  23.24192637]

## Lists

In [20]:
x = [1, 2, 3, 4, 5, 6]
print len(x)

6

In [21]:
x[:3]

[1, 2, 3]

In [22]:
x[3:]

[4, 5, 6]

In [23]:
x[-2:]

[5, 6]

In [24]:
x.extend([7,8])
x

[1, 2, 3, 4, 5, 6, 7, 8]

In [25]:
x.append(9)
x

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
y = [10, 11, 12]
listOfLists = [x, y]
listOfLists

[[1, 2, 3, 4, 5, 6, 7, 8, 9], [10, 11, 12]]

In [27]:
y[1]

11

In [28]:
z = [3, 2, 1]
z.sort()
z

[1, 2, 3]

In [29]:
z.sort(reverse=True)
z

[3, 2, 1]

## Tuples

In [30]:
#Tuples are just immutable lists. Use () instead of []
x = (1, 2, 3)
len(x)

3

In [31]:
y = (4, 5, 6)
y[2]

6

In [32]:
listOfTuples = [x, y]
listOfTuples

[(1, 2, 3), (4, 5, 6)]

In [33]:
(age, income) = "32;120000".split(';')
print age
print income

32
120000

## Dictionaries

In [34]:
# Like a map or hash table in other languages
captains = {}
captains["Enterprise"] = "Kirk"
captains["Enterprise D"] = "Picard"
captains["Deep Space Nine"] = "Sisko"
captains["Voyager"] = "Janeway"

print captains

{'Voyager': 'Janeway', 'Deep Space Nine': 'Sisko', 'Enterprise D': 'Picard', 'Enterprise': 'Kirk'}

In [35]:
print captains.get("Enterprise")

Kirk

In [36]:
print captains.get("NX-01")

None

In [37]:
for ship in captains:
    print ship + ": " + captains[ship]

Voyager: Janeway
Deep Space Nine: Sisko
Enterprise D: Picard
Enterprise: Kirk

## Functions

In [38]:
def SquareIt(x):
    return x * x

print SquareIt(2)

4

In [39]:
#You can pass functions around as parameters
def DoSomething(f, x):
    return f(x)

print DoSomething(SquareIt, 3)

9

In [40]:
#Lambda functions let you inline simple functions
print DoSomething(lambda x: x * x * x, 3)

27

## Boolean Expressions

In [24]:
print 1 == 3

False

In [25]:
print (True or False)

True

In [26]:
print 1 is 3

False

In [27]:
if 1 is 3:
    print "How did that happen?"
elif 1 > 3:
    print "Yikes"
else:
    print "All is well with the world"

All is well with the world

## Looping

In [28]:
for x in range(10):
    print x,

0 1 2 3 4 5 6 7 8 9

In [29]:
for x in range(10):
    if (x is 1):
        continue
    if (x > 5):
        break
    print x,

0 2 3 4 5

In [30]:
x = 0
while (x < 10):
    print x,
    x += 1

0 1 2 3 4 5 6 7 8 9

## Activity

Write some code that creates a list of integers, loops through each element of the list, and only prints out even numbers!

In [42]:
x = [0,1,2,3,4,5,6,7,8,9,10]

for item in x:
    if (item % 2 == 0):
        print item

0
2
4
6
8
10